2DPlatformer/Temp/
2DPlatformer/Build/
2DPlatformer/Library/
2DRoguelike/Library/
2DRoguelike/Temp/
VeganMatch3/Library/
VeganMatch3/Build/
VeganMatch3/Temp/
Match3Tutorial/Library/
Match3Tutorial/Build/
Match3Tutorial/Temp/
MatchThreeTutorial/Temp/
MatchThreeTutorial/Build/
MatchThreeTutorial/Library/
PixelPlatformerTut/Temp/
PixelPlatformerTut/Build/
PixelPlatformerTut/Library/
2DRPG/Build/